.info {
  display: flex;
  padding: 2vh 2vw;
  flex: 2;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.info__wrapper {
  display: flex;
  height: 25vh;
  padding: 0 2vw;
  flex: auto;
  flex-direction: column;
  justify-content: space-between;
}

.info__title {
  font-weight: normal;
}

.info__description {
  height: 15vh;
  padding-top: 2vh;
}
