.navigation {
  display: flex;
  height: 7.5vh;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navigation__item_selected {
  color: tomato;
}

@media only screen and (max-width: 768px) {
  .navigation {
    height: fit-content;
    margin-top: 2.5vh;
    flex-flow: column wrap;
  }
}
