#root {
  display: flex;
  justify-content: center;
}

.app {
  display: flex;
  width: 80vw;
  flex-flow: column wrap;
}

.header {
  display: flex;
  height: 7.5vh;
  margin-top: 2.5vh;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 5vh;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: normal;
}

.title_tomato {
  color: #ff6347;
}

.score {
  color: #ff6347;
}

.image_bird {
  display: flex;
  width: 22.5vh;
  height: 22.5vh;
  object-fit: cover;
}

.answer {
  display: flex;
  height: 45vh;
}
